/*My CSS sheet*/

/* Changing the backround color*/

body {
  background-color: #327DEC;
}

/* Setting the display of the page to the grid format*/


.grid{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;

}

/* Making the screen responsive to different screen sizes */

@media (max-width: 900px){
  .grid{
    flex-direction: column;
  }
  .grid-item:last-of-type{
    margin-top: 50px;
  }
}

/* Adjusting each grid-item */

.grid-item {
  width: 450px;
  background-color: white;
  padding: 50px;
  justify-content: center;
  margin-top: 20px;
}

/* Formatting my headings */

h1 {
  color: #FDFDFD;
  text-align: center;
}

h2 {
  color: #FDFDFD;
  text-align: center;
}
