/*My CSS sheet*/

/* Changing the backround color*/

body {
  background-color: #C2B0AC;
}

/* Setting the display of the page to the grid format*/

.grid-items {
  margin-left: inherit;
  margin-right: inherit;
  display: grid;
  grid-gap: 50px;
  height: 500px;
  width: 200px;
}

/* Styling indivudual grids*/

.grid-item {
  background-color: white;
  border: 5px #1A378F;
}
