/*My CSS sheet*/

/* Changing the backround color*/

body {
  background-color: black;
  font-size: 100%;
}

/* Setting the display of the page to the grid format*/

.grid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Making the page responsive to different screen sizes */

@media (max-width: 900px){

.grid {
  flex-direction: column;
}
.grid-item:last-of-type {
  margin-top: 20px;
}
}

.grid-item {
  height: 500px;
  width: 450px;
  background-color: white;
  padding: 5px;
  justify-content: center;
}

/* Formatting my text, both headings and paragraphs */

h1 {
  align-content: center;
  margin-left: 150px;
  color: #FDFDFD;
  text-align: center;
}

h4 {
  display: block;
  align-content: center;
  margin-left: 50px;
  margin-bottom: 1px;
  color: #FDFDFD;
  text-align: center;
}
p {
  display: block;
  column-span: all;
  align-content: center;
  margin-left: 50px;
  color: #FDFDFD;
  text-align: center;
}
