/*My CSS sheet*/

/* Changing the backround color*/

body {
  background-color: brown;
  font-size: 200%;
}

/* Setting the display of the page to the grid format*/

.grid-container {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-row-gap: 50px;
  grid-column-gap: 1px;
  background-color: null;
  border-color: red;
  justify-content: center;
  padding: 10px;
  align-content: center;
  margin-left: 50px;
  margin-right: 300px;

}

.grid-item {
  hight: 400px;
  width: 400px;
  background-color: white;
  padding: 50px;
  justify-content: center;
}

h6 {
  column-span: all;
  align-content: center;
  width: 1000px;
}
