/*My CSS sheet*/

/* Changing the backround color*/

body {
  background-color: green;
  font-size: 200%;
}

/* Setting the display of the page to the grid format*/

.grid-container {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-row-gap: 0px;
  grid-column-gap: 50px;
  background-color: null;
  justify-content: center;
  padding: 10px;
  align-content: center;
  margin-left: 50px;
  margin-right: 200px;

}

.grid-item {
  hight: 450px;
  width: 450px;
  background-color: white;
  padding: 5px;
  justify-content: center;
}


h1 {
  align-content: center;
  margin-left: 150px;
  color: #FDFDFD;
}

h4 {
  display: block;
  align-content: center;
  margin-left: 50px;
  margin-bottom: 1px;
  color: #FDFDFD;
}
p {
  display: block;
  column-span: all;
  align-content: center;
  width: 1000px;
  margin-left: 50px;
  color: #FDFDFD;
}

@media (max-width: 600px){
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 10px;
    background-color: null;
    justify-content: center;
    padding: 10px;
    align-content: center;
    margin-left: 50px;
    margin-right: 200px;

  }

  .grid-item {
    hight: 450px;
    width: 450px;
    background-color: white;
    padding: 5px;
    justify-content: center;
  }
}
